@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-primary: #6366f1;
    --color-secondary: #EFF2FC;
    --color-dark: #0B0F19;
    --color-white: #FFFFFF;
    --color-grey: #B4B7C9;
    --color-darkgrey: #565973;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: #00000000;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    
    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (min-width: 768px) {
        gap: 4rem;
    }

    @media (min-width: 1400px) {
        grid-template-columns: auto 1fr auto auto;
        gap: 2rem;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    p {
        color: var(--color-dark);
        font-size: 20px;
        font-weight: 900;
    }
}

.nav-link {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none;

    &:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }
}

.navbar {
    display: none;

    @media (min-width: 1400px) {
        display: block;
    }

}

.darkmode-switch {
    display: flex;
    align-items: center;
    gap: 20px;

    .label {
        display: none;
        
        @media (min-width: 768px) {
                display: block;
        }
    }
}

.toggle-switch {
    width: 45px;
    height: 25px;
    display: inline-block;
    position: relative;

    input[type="checkbox"] {
        appearance: none;
    }

    .slider {
        position: absolute;
        inset: 0;
        background-color: var(--color-grey);
        border-radius: 20px;
        cursor: pointer;
    }

    .slider::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 2px;
        transform: translateY(-50%);
        height: 85%;
        aspect-ratio: 1;
        background-color: var(--color-white);
        border-radius: 50%;
        box-shadow: 0 0 5px var(--color-darkgrey);

        transition: 500ms;
    }

    input[type="checkbox"]:checked + .slider::before {
        left: calc(100% - 23px);
    }

    input[type="checkbox"]:checked + .slider {
        background-color: var(--color-primary);
    }
}

#signin {
    display: none;

    @media (min-width: 1400px) {
        display: block;
    }
}
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 6px;
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &:hover {
        background-color: var(--color-secondary);
        color: var(--color-primary);
        border: 0.5px solid var(--color-primary);
        font-weight: 600;
    }

    i {
        margin-right: 0.5rem;
    }
}

.btn-mobile-menu {
    background-color: transparent;
    border: none;
    font-size: 2rem;

    @media (min-width: 1400px) {
        display: none;
    }
}

#hero {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.10407913165266103) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07326680672268904) 83%);
    padding-top: 1rem;

    @media (max-width: 768px) {
        padding-bottom: 2rem;
    }

    .container {
        gap: 2rem;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "headline"
        "content";

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 
            "headline headline"
            "content images";
        }

        @media (min-width: 1400px) {
            grid-template-columns: 2fr 3fr;
            grid-template-areas: 
            "headline images"
            "content images";
        }
    }

    .headline {
        text-align: center;
        grid-area: headline;
        font-size: 34px;
        font-weight: 900;

        @media (min-width: 768px) {
            font-size: 44px;
        }

        @media (min-width: 1400px) {
            font-size: 56px;
            text-align: start;
            margin-top: 4rem;
        }
    }

    .content {
        text-align: center;
        grid-area: content;

        @media (min-width: 768px) {
            text-align: start;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            color: var(--color-darkgrey);
            margin-bottom: 2rem;
        }

        .app-btn {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: var(--color-white);
            text-decoration: none;

            @media (min-width: 768px) {
                flex-direction: row;
                margin-right: 2rem;
            }
        }

        .btn-download-app {
            width: 100%;
            padding: 12px 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            color: var(--color-white);
            background-color: var(--color-dark);
        }

        .discover-more {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 3rem;
            text-decoration: none;
            font-size: 14px;
            color: var(--color-darkgrey);

            @media (min-width: 768px) {
                justify-content: flex-start;
                margin-bottom: 2rem;  
            }

            @media (min-width: 1400px) {
                justify-content: flex-start;
                margin-top: 10rem;
            }
        }
    }

    .btn-circle {
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0 0 5px var(--color-grey);
        background-color: var(--color-white);
        color: var(--color-dark)
    }

    .images {
        position: relative;
        display: none;
        grid-area: images;

        @media (min-width: 768px) {
            display: block;
        }

        .img-back {
            position: absolute;
            height: auto;
            z-index: 0;
            bottom: 0;
            right: 100px;
            width: 70%;

            @media (min-width: 1400px) {
                width: auto;
                /* bottom: -100px; */
                right: 150px;
            }
        }

        .img-front {
            position: absolute;
            height: auto;
            z-index: 1;
            bottom: 0;
            right: 0;
            width: 70%;

            @media (min-width: 1400px) {
                width: auto;
                /* bottom: -100px; */
            }
        }
    }
}

#brands {
    margin-top: 4rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .brand-box {
        border: 1px solid #E2E5F1;
        border-radius: 8px;
        height: 100px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width:768px) {
        display: none;
    }

    @media (max-width:1400px) {
        margin-top: 3rem;
        .brand-box {
            height: 98px;
            width: 158px;
        }

        #brand-5, #brand-6 {
            display: none;
        }
    }
}

footer {
    color: var(--color-grey);
    font-size: 14px;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (min-width:768px) {
            flex-direction: row;
            gap: 5px;
        }
    }
}